

<style>

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ol {
  list-style-type: square;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111;
}
</style>





<ul>
<!section id="main_content" class="inner">
<header class="inner">
<!div id="header_wrap" class="outer">
<!div style = "position:relative; left:20px; top:0px;">
  <li><a href="/index">Inicio</a></li>
  <li><a href="/destacado">Destacado</a></li>
  <li><a href="/categorias">Categorías</a></li>
  <li><a href="/archivo">Archivo</a></li>
<!/div>
</header>
<!/section>
</ul>



